<div class="container">
  <h2 class="section-title padd-15">Giới thiệu</h2>
  <div id="short" class="row">
    <div class="about-img padd-15">
      <!-- Avatar IMG-->
      <img src="images/avatar2.jpg" alt="" />
    </div>
    <!-- Main Content -->
    <div class="about-content padd-15">
      <div class="rounded">
        <div class="row">
          <div class="about-text padd-15">
            <p>
              Mình là một lập trình viên với gần 2 năm đam mê code web. Mình chủ
            yếu sử dụng React framework để xây dựng các trang web hiệu quả và
            linh hoạt. Ngoài ra, mình cũng có kiến thức vững về Python và sử
            dụng Django Rest Framework để xây dựng các RESTful API...
            </p>
            <div>
              <a id="more" class="btn btn-default">Đọc thêm...</a>
            </div>
          </div>
          <div class="skills padd-15">
            <div class="row progress">
              <!-- skill item-->
              <div class="skill-item">
                <h4>
                  <i
                    class="lni lni-python"
                    style="color: rgb(108, 108, 229)"
                  ></i>
                  Python
                </h4>
                <div class="progress">
                  <div
                    class="progress-in"
                    style="width: 40%; background-color: rgb(108, 108, 229)"
                  ></div>
                  <div class="skill-percent">40%</div>
                </div>
              </div>
              <!-- skill item-->
              <div class="skill-item">
                <h4>
                  <i
                    class="lni lni-javascript"
                    style="color: rgb(255, 255, 92)"
                  ></i>
                  Javascript
                </h4>
                <div class="progress">
                  <div
                    class="progress-in"
                    style="width: 65%; background-color: rgb(255, 255, 92)"
                  ></div>
                  <div class="skill-percent">65%</div>
                </div>
              </div>
              <!-- skill item-->
              <div class="skill-item">
                <h4>
                  <i class="lni lni-java" style="color: rgb(255, 76, 96)"></i>
                  Java
                </h4>
                <div class="progress">
                  <div
                    class="progress-in"
                    style="width: 10%; background-color: rgb(255, 76, 96)"
                  ></div>
                  <div class="skill-percent">15%</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Facts -->
    <div class="row facts">
      <!-- fact item -->
      <div class="fact-item padd-15">
        <i class="lni lni-code"></i>
        <div class="details">
          <h3>1.000+</h3>
          <p>Dòng mỗi ngày</p>
        </div>
      </div>
      <!-- fact item -->
      <div class="fact-item padd-15">
        <i class="lni lni-hourglass"></i>
        <div class="details">
          <h3>5000+</h3>
          <p>Giờ code</p>
        </div>
      </div>
      <!-- fact item -->
      <div class="fact-item padd-15">
        <i class="lni lni-github-original"></i>
        <div class="details">
          <h3>200+</h3>
          <p>Cống hiến</p>
        </div>
      </div>
      <!-- fact item -->
      <div class="fact-item padd-15">
        <i class="lni lni-rocket"></i>
        <div class="details">
          <h3>5</h3>
          <p>Dự án cá nhân</p>
        </div>
      </div>
    </div>
    <div class="row expand-wrapper padd-15">
      <div class="rounded mt-15">
        <div class="padd-15">
          <p>
            Mình là một lập trình viên với gần 2 năm đam mê code web. Mình chủ
            yếu sử dụng React framework để xây dựng các trang web hiệu quả và
            linh hoạt. Ngoài ra, mình cũng có kiến thức vững về Python và sử
            dụng Django Rest Framework để xây dựng các RESTful API. Việc kết hợp
            giữa React và Django Rest Framework giúp cho quá trình phát triển
            ứng dụng web của mình trở nên linh hoạt và dễ dàng quản lý. Stack
            này cũng giúp mình có khả năng xây dựng cả frontend và backend của
            một ứng dụng từ đầu đến cuối một cách hiệu quả. Mình luôn tìm kiếm
            cơ hội để áp dụng và phát triển kỹ năng của mình trong lĩnh vực công
            nghệ thông tin, đặc biệt là trong lĩnh vực phát triển web.
          </p>
        </div>
      </div>
      <div class="rounded mt-15">
        <p>
          Trong năm vừa qua, mình có hơn 200 commit và contribution trên cả hai
          nền tảng Github và Gitlab. Từ tháng 4/2023 đến tháng 10/2023, mình đã
          tích lũy một lượng lớn kinh nghiệm và kiến thức với các dự án mã nguồn
          mở từ công ty OMZ Cloud trên Gitlab.
        </p>
        <div class="mt-15">
          <img
            class="about_img"
            src="images/about/gitlab_1.png"
            alt="about_1"
          />
          <figcaption style="text-align: center">
            Commit trên gitlab từ tháng 6 đến 9 / 2023
          </figcaption>
        </div>
        <div class="mt-15">
          <img
            class="about_img"
            src="images/about/gitlab_2.png"
            alt="about_2"
          />
          <figcaption style="text-align: center">
            Commit trên gitlab từ tháng 10 / 2023 đến 1 / 2024
          </figcaption>
        </div>
        <p>
          Sau đó, từ tháng 12/2023 đến tháng 2/2024, mình tiếp tục sự hành trình
          của mình trên Github, tham gia vào các dự án mới và đóng góp ý kiến
          cũng như codebase. Nhìn lại từ những nỗ lực không ngừng nghỉ, lượng
          kiến thức và kinh nghiệm của bản thân thực sự rất đáng kinh ngạc.
        </p>
        <div class="mt-15">
          <img class="about_img" src="images/about/github.png" alt="about_3" />
          <figcaption style="text-align: center">
            Commit trên github từ tháng 12 / 2023 đến 2 / 2024
          </figcaption>
        </div>
      </div>
      <div class="rounded mt-15">
        <p>
          Quá trình thực tập tại công ty OMZ Cloud là bước đà cho sự phát triển
          vượt bậc của bản thân.
        </p>
        <div class="mt-15">
          <img class="about_img" src="images/about/OMZ_1.jpg" alt="about_4" />
          <figcaption style="text-align: center">
            OMZ chill day tại Phú Thọ
          </figcaption>
        </div>
        <p>
          Đây không chỉ là cơ hội để áp dụng những kiến thức đã học trong thực
          tế mà còn là một hành trình trải nghiệm sâu sắc về cách làm việc
          chuyên nghiệp trong môi trường doanh nghiệp. Tại OMZ Cloud, kiến thức
          và kỹ năng của bản thân mình không chỉ không chỉ phát triển trong mảng
          lập trình mà còn trong việc làm việc nhóm, giải quyết vấn đề và quản
          lý thời gian.
        </p>
        <div class="mt-15">
          <img class="about_img" src="images/about/OMZ_2.jpg" alt="about_5" />
          <figcaption style="text-align: center">
            Viet Open Infra Day (VOID) diễn ra tại khách sạn Daewoo
          </figcaption>
        </div>
        <p>
          Đặc biệt, mình còn được học hỏi từ những chuyên gia hàng đầu trong
          ngành, nhận được sự hỗ trợ và phản hồi tích cực từ đồng nghiệp và cấp
          trên. Nhờ vào sự tận tâm và nỗ lực không ngừng, mình đã có cơ hội tham
          gia vào các dự án thú vị và gặt hái được nhiều thành công, từ đó, tạo
          ra đà cho sự nghiệp lập trình của mình trong tương lai.
        </p>
        <div class="mt-15">
          <img class="about_img" src="images/about/OMZ_3.png" alt="about_6" />
          <figcaption style="text-align: center">
            Những ngày đi làm cuối cùng trong năm
          </figcaption>
        </div>
      </div>
      <a id="less" class="btn btn-default"
        ><i class="lni lni-angle-double-up"></i
      ></a>
    </div>
  </div>
</div>
<script type="module">
  const aboutText = document.querySelector(".about-text");
  const aboutRow = document.querySelector(".rounded .row");
  const factWrapper = document.querySelector(".facts.row");
  const progressWrapper = document.querySelector(".skills");
  const expandWrapper = document.querySelector(".expand-wrapper");
  const Button = document.getElementById("more");
  const expandClass = "expand";

  const moreBtn = document.getElementById("more");
  const lessBtn = document.getElementById("less");

  const removeExpand = () => {
    const targetNavLink = document.querySelector('a[href="#about"]');
    factWrapper.classList.remove(expandClass);
    aboutRow.classList.remove(expandClass);
    aboutText.classList.remove(expandClass);
    expandWrapper.classList.remove(expandClass);
    Button.style.display = "inline-block";
    targetNavLink.click();
  };

  const addExpand = () => {
    factWrapper.classList.add(expandClass);
    aboutRow.classList.add(expandClass);
    aboutText.classList.add(expandClass);
    expandWrapper.classList.add(expandClass);
    Button.style.display = "none";
  };

  moreBtn.addEventListener("click", addExpand);
  lessBtn.addEventListener("click", removeExpand);

  // Step 1: Change the layout of the extended components
  // Step 2: extend paragraph = replace short paragraph with long paragraph
  // Step 3: replace expandBtn with shrinkBtn
</script>
