<div class="container">
  <h2 class="section-title padd-15">Giới thiệu</h2>
  <div class="row">
    <div class="about-img padd-15">
      <!-- Avatar IMG-->
      <img src="images/avatar2.jpg" alt="" />
    </div>
    <div class="about-content padd-15">
      <div class="rounded">
        <div class="row">
          <div class="about-text padd-15">
            <p>
              Mình là một lập trình viên với gần 2 năm đam mê code web. Mình chủ
              yếu tận dụng React framework để xây dựng các trang web hiệu quả và
              linh hoạt. Ngoài ra, mình cũng có kiến thức vững về Python và sử
              dụng Django Rest Framework để xây dựng các RESTful API.
            </p>
            <div>
              <a href="#" class="btn btn-default">Đọc thêm...</a>
            </div>
          </div>
          <div class="skills padd-15">
            <div class="row">
              <!-- skill item-->
              <div class="skill-item">
                <h4><i class="lni lni-python" style="color: rgb(108, 108, 229)";" ></i>  Python</h4>
                <div class="progress">
                  <div
                    class="progress-in"
                    style="width: 40%; background-color: rgb(108, 108, 229)"
                  ></div>
                  <div class="skill-percent">40%</div>
                </div>
              </div>
              <!-- skill item-->
              <div class="skill-item">
                <h4><i class="lni lni-javascript" style="color: rgb(255, 255, 92);" ></i>  Javascript</h4>
                <div class="progress">
                  <div
                    class="progress-in"
                    style="width: 65%; background-color: rgb(255, 255, 92)"
                  ></div>
                  <div class="skill-percent">65%</div>
                </div>
              </div>
              <!-- skill item-->
              <div class="skill-item">
                <h4><i class="lni lni-java" style="color: rgb(255, 76, 96);" ></i> Java</h4>
                <div class="progress">
                  <div
                    class="progress-in"
                    style="width: 10%; background-color: rgb(255, 76, 96)"
                  ></div>
                  <div class="skill-percent">15%</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="width: 100%">
      <!-- fact item -->
      <div class="fact-item padd-15">
        <i class="lni lni-code"></i>
        <div class="details">
          <h3>1.000+</h3>
          <p>Dòng mỗi ngày</p>
        </div>
      </div>
      <!-- fact item -->
      <div class="fact-item padd-15">
        <i class="lni lni-coffee-cup"></i>
        <div class="details">
          <h3>500+</h3>
          <p>Cốc cà phê</p>
        </div>
      </div>
      <!-- fact item -->
      <div class="fact-item padd-15">
        <i class="lni lni-users"></i>
        <div class="details">
          <h3>42.000+</h3>
          <p>Người theo dõi</p>
        </div>
      </div>
      <!-- fact item -->
      <div class="fact-item padd-15">
        <i class="lni lni-github-original"></i>
        <div class="details">
          <h3>50+</h3>
          <p>Cống hiến</p>
        </div>
      </div>
    </div>
  </div>
</div>
