<nav class="nav container padd-15">
  <a href="#" class="nav-logo">
    <h2>Helios Aiden</h2>
  </a>
  <div class="nav-menu" id="nav-menu">
    <ul class="nav-list">
      <li class="nav-item">
        <a href="#home" class="nav-link active-link">Trang chủ</a>
      </li>
      <li class="nav-item">
        <a href="#about" class="nav-link">Giới thiệu</a>
      </li>
      <li class="nav-item">
        <a href="#portfolio" class="nav-link">Portfolio</a>
      </li>
      <li class="nav-item">
        <a href="#reviews" class="nav-link">Reviews</a>
      </li>
    </ul>
    <!-- nav close -->
    <div class="nav-close" id="nav-close">
      <i class="lni lni-close"></i>
    </div>
  </div>
  <div class="nav-btns">
    <i class="lni lni-pallet change-theme" id="theme-button"></i>
    <div class="nav-toggle" id="nav-toggle">
      <i class="lni lni-menu"></i>
    </div>
  </div>
</nav>

<script>
  const navMenu = document.getElementById("nav-menu"),
    navToggle = document.getElementById("nav-toggle"),
    navClose = document.getElementById("nav-close");

  const theme = document.querySelector("#theme-button");
  const themeModal = document.querySelector(".customize-theme");

  if (navToggle) {
    navToggle.addEventListener("click", () => {
      navMenu.classList.add("show-menu");
    });
  }
  if (navClose) {
    navClose.addEventListener("click", () => {
      navMenu.classList.remove("show-menu");
    });
  }
  const openThemeModal = () => {
    themeModal.style.display = "grid";
  };
  const closeThemeModal = (e) => {
    if (e.target.classList.contains("customize-theme")) {
      themeModal.style.display = "none";
    }
  };
  theme.addEventListener("click", openThemeModal);
  themeModal.addEventListener("click", closeThemeModal);

  const navLinks = document.querySelectorAll(".nav-link");
  const linkAction = () => {
    const navMenu = document.getElementById("nav-menu");
    navMenu.classList.remove("show-menu");
  };
  navLinks.forEach((i) => i.addEventListener("click", linkAction));

  const scrollHeader = () => {
    const header = document.getElementById("header");
    if (window.scrollY >= 80) {
      header.classList.add("scroll-header");
    } else {
      header.classList.remove("scroll-header");
    }
  };

  window.addEventListener("scroll", scrollHeader);
  const sections = document.querySelectorAll("section[id]");
  const navHighLighter = () => {
    let scrollY = window.scrollY;
    sections.forEach((i) => {
      const sectionHeight = i.offsetHeight;
      const sectionTop = i.offsetTop - 200;
      const sectionId = i.getAttribute("id");
      if (scrollY > sectionTop && scrollY <= sectionTop + sectionHeight) {
        document
          .querySelector(".nav-menu a[href*=" + sectionId + "]")
          .classList.add("active-link");
      } else {
        document
          .querySelector(".nav-menu a[href*=" + sectionId + "]")
          .classList.remove("active-link");
      }
    });
  };
  window.addEventListener("scroll", navHighLighter);
</script>
