<div class="container">
  <div class="intro">
    <img src="images/avatar.jpg" alt="Helios Aiden" />
    <h1>Helios Aiden</h1>
    <span>Mình là 1 <span class="info-text">Web developer</span></span>
    <ul class="social-icons">
      <li>
        <a href="https://github.com/HeliosAiden/" target="_blank"><i class="lni lni-github-original"></i></a>
      </li>
      <li>
        <a href="https://www.youtube.com/@heliosaiden/"  target="_blank"><i class="lni lni-youtube"></i></i></a>
      </li>
      <li>
        <a href="https://www.facebook.com/nhatanh.ltv/" target="_blank"><i class="lni lni-facebook-oval"></i></a>
      </li>
      <li>
        <a href="https://www.tiktok.com/@heliosaiden" target="_blank"><i class="lni lni-tiktok-alt"></i></i></a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/helios-aiden-b20817245/" target="_blank"><i class="lni lni-linkedin-original"></i></a>
      </li>
    </ul>
    <div>
      <a href="#contact" class="btn btn-default">Liên hệ</a>
    </div>
    <!-- Scroll down mouse wheel-->
    <div class="scroll-down">
      <a href="#" class="mouse-wrapper">
        <span>Cuộn xuống</span>
        <span class="mouse">
          <span class="wheel"></span>
        </span>
      </a>
    </div>
  </div>
</div>
