<div class="container">
  <h2 class="section-title padd-15">Portfolio</h2>
  <div class="row">
    <div class="portfolio-filter padd-15">
      <div class="portfolio-inner">
        <button type="button" data-filter="all" class="active">Tất cả</button>
        <button type="button" data-filter="1">Buổi 1</button>
        <button type="button" data-filter="2">Buổi 2</button>
        <button type="button" data-filter="3">Buổi 3</button>
        <button type="button" data-filter="4">Buổi 4</button>
        <button type="button" data-filter="5">Buổi 5</button>
        <button type="button" data-filter="6">Buổi 6</button>
        <button type="button" data-filter="7">Buổi 7</button>
        <button type="button" data-filter="8">Buổi 8</button>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- portfolio item -->
    <div
      class="portfolio-item padd-15"
      data-category="4"
      iframe-src="posts/lesson_4/excercise_2/index.html"
    >
      <div class="portfolio-item-inner">
        <div class="portfolio-item-thumbnail">
          <img src="images/4/2.png" alt="lesson_4-excercise_2" />
          <div class="mask"></div>
        </div>
        <span class="term">Buổi 4</span>
        <h3 class="portfolio-title">Bài 2 buổi 4</h3>
        <span class="more-button"> &hellip; </span>
      </div>
    </div>
    <!-- portfolio item -->
    <div
      class="portfolio-item padd-15"
      data-category="6"
      iframe-src="posts/lesson_6/excercise_1/index.html"
    >
      <div class="portfolio-item-inner">
        <div class="portfolio-item-thumbnail">
          <img src="images/6/1.png" alt="lesson_6-excercise_1" />
          <div class="mask"></div>
        </div>
        <span class="term">Buổi 6</span>
        <h3 class="portfolio-title">Bài 1, buổi 6</h3>
        <span class="more-button"> &hellip; </span>
      </div>
    </div>
    <!-- portfolio item -->
    <div
      class="portfolio-item padd-15"
      data-category="6"
      iframe-src="posts/lesson_6/excercise_2/index.html"
    >
      <div class="portfolio-item-inner">
        <div class="portfolio-item-thumbnail">
          <img src="images/6/2.png" alt="lesson_6-excercise_2" />
          <div class="mask"></div>
        </div>
        <span class="term">Buổi 6</span>
        <h3 class="portfolio-title">Bài 2 buổi 6</h3>
        <span class="more-button"> &hellip; </span>
      </div>
    </div>
    <!-- portfolio item -->
    <div
      class="portfolio-item padd-15"
      data-category="6"
      iframe-src="posts/lesson_6/excercise_3/index.html"
    >
      <div class="portfolio-item-inner">
        <div class="portfolio-item-thumbnail">
          <img src="images/6/3.png" alt="lesson_6-excercise_3" />
          <div class="mask"></div>
        </div>
        <span class="term">Buổi 6</span>
        <h3 class="portfolio-title">Bài 3 buổi 6</h3>
        <span class="more-button"> &hellip; </span>
      </div>
    </div>
    <!-- portfolio item -->
    <div
      class="portfolio-item padd-15"
      data-category="6"
      iframe-src="posts\lesson_6\excercise_4\index.html"
    >
      <div class="portfolio-item-inner">
        <div class="portfolio-item-thumbnail">
          <img src="images/6/4.png" alt="lesson_6-excercise_4" />
          <div class="mask"></div>
        </div>
        <span class="term">Buổi 6</span>
        <h3 class="portfolio-title">Bài 4, buổi 6</h3>
        <span class="more-button"> &hellip; </span>
      </div>
    </div>
  </div>
</div>
<script>
  const iFrameBox = document.querySelector("#iframe");

  const showIframe = (item) => {
    const iframeSrc = item.getAttribute("iframe-src");
    const mainIframe = iFrameBox.querySelector("iframe");
    mainIframe.src = iframeSrc;
    iFrameBox.style.display = "block";
  };

  const closeIframe = () => {
    iFrameBox.style.display = "none";
  };

  iFrameBox.addEventListener("click", closeIframe);

  const filterContainer = document.querySelector(".portfolio-inner"),
    filterBtns = filterContainer.children,
    totalFilterBtns = filterBtns.length,
    portfolioItems = document.querySelectorAll(".portfolio-item"),
    totalPortfolioItem = portfolioItems.length;

  [...portfolioItems].map((item) => {
    const mask = item.querySelector(".mask");
    mask.addEventListener("click", (e) => {
      showIframe(item);
    });
  });

  for (let i = 0; i < totalFilterBtns; i++) {
    filterBtns[i].addEventListener("click", (e) => {
      document.querySelector(".active").classList.remove("active");
      e.target.classList.add("active");

      const filterValue = e.target.getAttribute("data-filter");
      for (let k = 0; k < totalPortfolioItem; k++) {
        if (filterValue === portfolioItems[k].getAttribute("data-category")) {
          portfolioItems[k].classList.remove("hide");
          portfolioItems[k].classList.add("show");
        } else {
          portfolioItems[k].classList.add("hide");
          portfolioItems[k].classList.remove("show");
        }
        if (filterValue === "all") {
          portfolioItems[k].classList.remove("hide");
          portfolioItems[k].classList.add("show");
        }
      }
    });
  }
</script>
