<div class="container">
  <h2 class="section-title padd-15">Portfolio</h2>
  <div class="row">
    <div class="portfolio-filter padd-15">
      <div class="portfolio-inner">
        <button type="button" data-filter="all" class="active">Tất cả</button>
        <button type="button" data-filter="1">Buổi 1</button>
        <button type="button" data-filter="2">Buổi 2</button>
        <button type="button" data-filter="3">Buổi 3</button>
        <button type="button" data-filter="4">Buổi 4</button>
        <button type="button" data-filter="5">Buổi 5</button>
        <button type="button" data-filter="6">Buổi 6</button>
        <button type="button" data-filter="7">Buổi 7</button>
        <button type="button" data-filter="8">Buổi 8</button>
      </div>
    </div>
  </div>
  <div class="row" id="portfolio-items"></div>
  <div class="portfolio-pagination"></div>
</div>
<script type="module">
  import portfolios from "./constants/portfolio.js";

  // Generate portfolio item
  const generatePortfolio = (item) => {
    const container = document.createElement("div");
    container.classList = "portfolio-item padd-15";
    container.setAttribute("data-category", item.data);
    container.setAttribute("iframe-src", item.iframe);

    // Generate thumbnail
    const thumbnail = document.createElement("div");
    thumbnail.className = "portfolio-item-thumbnail";
    const img = document.createElement("img");
    img.src = item.image.src;
    img.alt = item.image.alt;
    const mask = document.createElement("div");
    mask.className = "mask";
    thumbnail.append(img, mask);

    // Generate term
    const term = document.createElement("span");
    term.className = "term";
    term.innerText = item.term;

    // Generate title
    const title = document.createElement("h3");
    title.className = "portfolio-title";
    title.innerText = item.title;

    // Generate more button
    const more = document.createElement("div");
    more.className = "more-button";
    more.innerHTML = "&hellip";

    // Generate inner portfolio
    const content = document.createElement("div");
    content.className = "portfolio-item-inner";
    content.append(thumbnail, term, title, more);
    container.appendChild(content);

    return container;
  };

  // append portfolioItem to portfolioContainer
  const portfolioContainer = document.querySelector("div#portfolio-items");
  let showCount = 9;

  portfolios.map((item, index) => {
    const portfolioItem = generatePortfolio(item);
    portfolioItem.classList.add("hide");
    portfolioContainer.appendChild(portfolioItem);
    if (index < showCount) {
      portfolioItem.classList.remove("hide");
      portfolioItem.classList.add("show");
    }
  });

  // Generarte Pagination
  const pagination = document.querySelector("div.portfolio-pagination");

  // PrevBtn
  const prevBtn = document.createElement("a");
  prevBtn.innerHTML = "&laquo;";
  prevBtn.href = "#prev";

  // NextBtn
  const nextBtn = document.createElement("a");
  nextBtn.innerHTML = "&raquo;";
  nextBtn.href = "#next";

  const showPage = (i) => {
    const targetPage = i.innerHTML;
    let startCount = targetPage * showCount - showCount;
    let endCount = targetPage * showCount;
    const portfolios = [...portfolioContainer.children];
    portfolios.map((i) => {
      i.classList.remove("show");
      i.classList.add("hide");
    });

    while (startCount < endCount) {
      portfolios[startCount].classList.add("show");
      startCount++;
    }
  };

  const handleNextBtn = () => {
    const pageBtns = pagination.querySelectorAll("a[class*=page-]");
    const currentPosition = Number(pagination.querySelector("a.active").innerHTML);
    const totalPages = [...pageBtns].length

    let nextPosition = 1
    if (totalPages !== currentPosition) {
      nextPosition = currentPosition + 1;
    }

    const nextBtn = pagination.querySelector(`a.page-${nextPosition}`);
    [...pageBtns].map(i => i.classList.remove("active"));
    nextBtn.classList.add("active")
    showPage(nextBtn)

  }

  const handlePrevBtn = () => {
    const pageBtns = pagination.querySelectorAll("a[class*=page-]");
    const currentPosition = Number(pagination.querySelector("a.active").innerHTML);
    const totalPages = [...pageBtns].length

    let nextPosition = totalPages
    if (currentPosition > 1) {
      nextPosition = currentPosition - 1;
    }

    const nextBtn = pagination.querySelector(`a.page-${nextPosition}`);
    [...pageBtns].map(i => i.classList.remove("active"));
    nextBtn.classList.add("active")
    showPage(nextBtn)
  }

  pagination.appendChild(prevBtn);
  const pageCount = Math.ceil(portfolios.length / 9);
  for (let i = 0; i < pageCount; i++) {
    const a = document.createElement("a");
    a.className = `page-${i + 1} pagination-button`;
    if (i==0) {
      a.classList.add("active")
    }
    a.innerHTML = i + 1;
    pagination.appendChild(a);
    a.addEventListener("click", (event) => showPage(event.target));
  }
  pagination.appendChild(nextBtn);

  nextBtn.addEventListener("click", handleNextBtn)
  prevBtn.addEventListener("click", handlePrevBtn)

  //

  // Only show 9 portfolio Item

  //Iframe
  const iFrameBox = document.querySelector("#iframe");

  const showIframe = (item) => {
    const iframeSrc = item.getAttribute("iframe-src");
    const mainIframe = iFrameBox.querySelector("iframe");
    mainIframe.src = iframeSrc;
    iFrameBox.style.display = "block";
  };

  const closeIframe = () => {
    iFrameBox.style.display = "none";
  };

  iFrameBox.addEventListener("click", closeIframe);

  const filterContainer = document.querySelector(".portfolio-inner"),
    filterBtns = filterContainer.children,
    totalFilterBtns = filterBtns.length,
    portfolioItems = document.querySelectorAll(".portfolio-item"),
    totalPortfolioItem = portfolioItems.length;

  [...portfolioItems].map((item) => {
    const mask = item.querySelector(".mask");
    mask.addEventListener("click", (e) => {
      showIframe(item);
    });
  });

  // Filter button

  for (let i = 0; i < totalFilterBtns; i++) {
    filterBtns[i].addEventListener("click", (e) => {
      document.querySelector(".active").classList.remove("active");
      e.target.classList.add("active");

      const filterValue = e.target.getAttribute("data-filter");
      for (let k = 0; k < totalPortfolioItem; k++) {
        if (filterValue === portfolioItems[k].getAttribute("data-category")) {
          portfolioItems[k].classList.remove("hide");
          portfolioItems[k].classList.add("show");
        } else {
          portfolioItems[k].classList.add("hide");
          portfolioItems[k].classList.remove("show");
        }
        if (filterValue === "all") {
          portfolioItems[k].classList.remove("hide");
          portfolioItems[k].classList.add("show");
        }
      }
    });
  }
</script>
