<div class="container">
  <!--Section title-->
  <h2 class="section-title padd-15">Lời chứng thực</h2>
  <!-- Testimonial wrapper-->
  <div class="swiper testimonial-wrapper">
    <div class="swiper-wrapper">
      <!-- testimonial item -->
      <div class="testimonial-item swiper-slide">
        <div class="thumb">
          <img src="images/testimonials/Testimonial_1.jpg" alt="people_1" />
        </div>
        <h3>Đặng Văn Đại</h3>
        <span class="subtitle"> CTO tại OMZ Cloud </span>
        <div class="comment">
          Mặc dù đang là sinh viên năm hai, Nhật Anh đã thể hiện sự xuất sắc
          trong quá trình thực tập tại OMZ Cloud. Sự nhanh nhẹn, sáng tạo và chủ
          động trong công việc của Nhật Anh là điểm sáng nổi bật của Gen Z.
        </div>
      </div>
      <!-- testimonial item -->
      <div class="testimonial-item swiper-slide">
        <div class="thumb">
          <img src="images/testimonials/Testimonial_2.jpg" alt="people_2" />
        </div>
        <h3>Hà Mạnh Đông</h3>
        <span class="subtitle"> CFO tại OMZ Cloud </span>
        <div class="comment">
          Anh đánh giá cao khả năng tự học và nghiên cứu tài liệu của Nhật Anh.
          Nếu Nhật Anh có thể phát triển thêm khả năng làm việc nhóm và diễn đạt
          logic của mình, chắc chắn sẽ đạt được nhiều thành công lớn trong lĩnh
          vực phần mềm.
        </div>
      </div>
      <!-- testimonial item -->
      <div class="testimonial-item swiper-slide">
        <div class="thumb">
          <img src="images/testimonials/Testimonial_3.jpg" alt="people_3" />
        </div>
        <h3>Kim Thị Hồng Quyên</h3>
        <span class="subtitle"> Front End Dev tại OMZ Cloud </span>
        <div class="comment">
          Với tư cách là đồng nghiệp gắn bó với Nhật Anh từ ngày đầu, mình đánh
          giá cao khả năng tìm tòi, học hỏi của Nhật Anh. Nhật Anh có sự năng
          động, nhiệt tình có chất rất riêng của Gen Z. Mình tin Nhật Anh
          sẽ phát triển rất xa trong thời gian tới.
        </div>
      </div>
      <!-- testimonial item -->
      <div class="testimonial-item swiper-slide">
        <div class="thumb">
          <img src="images/testimonials/Testimonial_4.jpg" alt="people_3" />
        </div>
        <h3>Nguyễn Quang Huy</h3>
        <span class="subtitle"> Full-stack Dev tại OMZ Cloud </span>
        <div class="comment">
          Mặc dù gia nhập OMZ khi chỉ mới năm nhất nhưng Nhật Anh đã thể hiện
          khả năng học tập, phát triển hơn những người đi trước. Trong quá trình
          thực tập, Nhật Anh luôn đưa ra những ý kiến độc đáo, sáng tạo và đầy
          sức thuyết phục
        </div>
      </div>
      <!-- testimonial item -->
      <div class="testimonial-item swiper-slide">
        <div class="thumb">
          <img src="images/testimonials/Testimonial_5.jpg" alt="people_3" />
        </div>
        <h3>Nguyễn Thu Trang</h3>
        <span class="subtitle"> Q/A analyst & Tester tại OMZ Cloud </span>
        <div class="comment">
          Nhật Anh là một người có tinh thần dám nghĩ dám làm, luôn khao khát
          học hỏi và thể hiện khả năng tự học cao. Tuy nhiên, Nhật Anh vẫn nên
          cẩn thận và cầu toàn hơn trong dự án mình đảm nhận để tránh những bug
          không đáng có
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>
<script>
  var swiper = new Swiper(".testimonial-wrapper", {
    loop: "true",
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
  });
</script>
