<div class="container">
  <!--Section title-->
  <h2 class="section-title padd-15">Lời chứng thực</h2>
  <!-- Testimonial wrapper-->
  <div class="swiper testimonial-wrapper">
    <div class="swiper-wrapper">
      <!-- testimonial item -->
      <div class="testimonial-item swiper-slide">
        <div class="thumb">
          <img
            src="https://images.pexels.com/photos/853151/pexels-photo-853151.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            alt="people_1"
          />
        </div>
        <h3>John Doe</h3>
        <span class="subtitle"> Product Designer at X </span>
        <div class="comment">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo quam
          hic repudiandae dicta! Voluptatibus, explicabo iusto.
        </div>
      </div>
      <!-- testimonial item -->
      <div class="testimonial-item swiper-slide">
        <div class="thumb">
          <img
            src="https://images.pexels.com/photos/762080/pexels-photo-762080.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            alt="people_2"
          />
        </div>
        <h3>Catheryn</h3>
        <span class="subtitle"> Sale Manager at Y </span>
        <div class="comment">This is the second different text</div>
      </div>
      <!-- testimonial item -->
      <div class="testimonial-item swiper-slide">
        <div class="thumb">
          <img
            src="https://images.pexels.com/photos/789822/pexels-photo-789822.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            alt="people_2"
          />
        </div>
        <h3>Margaret</h3>
        <span class="subtitle"> Project Manager at Z </span>
        <div class="comment">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit
          laudantium expedita quod!
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>
<script>
  var swiper = new Swiper(".testimonial-wrapper", {
  loop: "true",
  pagination: {
    el: ".swiper-pagination",
    clickable: true,
  },
});
</script>