<div class="container">
  <h2 class="section-title padd-15">About Me</h2>
  <div class="row">
    <div class="about-img padd-15">
      <!-- Avatar IMG-->
      <img src="images/avatar2.jpg" alt="" />
    </div>
    <div class="about-content padd-15">
      <div class="rounded">
        <div class="row">
          <div class="about-text padd-15">
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla
              labore, quibusdam alias sed quaerat assumenda beatae ea voluptas,
              sequi voluptatibus iusto. Totam vel repellendus dolor laborum?
              Consectetur fugit perspiciatis delectus!
            </p>
            <div>
              <a href="#" class="btn btn-default">Download CV</a>
            </div>
          </div>
          <div class="skills padd-15">
            <div class="row">
              <!-- skill item-->
              <div class="skill-item">
                <h4>Education</h4>
                <div class="progress">
                  <div
                    class="progress-in"
                    style="width: 45%; background-color: rgb(255, 76, 96)"
                  ></div>
                  <div class="skill-percent">45%</div>
                </div>
              </div>
              <!-- skill item-->
              <div class="skill-item">
                <h4>Skills</h4>
                <div class="progress">
                  <div
                    class="progress-in"
                    style="width: 65%; background-color: rgb(255, 255, 92)"
                  ></div>
                  <div class="skill-percent">65%</div>
                </div>
              </div>
              <!-- skill item-->
              <div class="skill-item">
                <h4>Experience</h4>
                <div class="progress">
                  <div
                    class="progress-in"
                    style="width: 30%; background-color: rgb(108, 108, 229)"
                  ></div>
                  <div class="skill-percent">30%</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="width: 100%">
      <!-- fact item -->
      <div class="fact-item padd-15">
        <i class="lni lni-code"></i>
        <div class="details">
          <h3>1.000+</h3>
          <p>Lines per day</p>
        </div>
      </div>
      <!-- fact item -->
      <div class="fact-item padd-15">
        <i class="lni lni-coffee-cup"></i>
        <div class="details">
          <h3>473</h3>
          <p>Cups of coffee</p>
        </div>
      </div>
      <!-- fact item -->
      <div class="fact-item padd-15">
        <i class="lni lni-users"></i>
        <div class="details">
          <h3>42.000+</h3>
          <p>Followers</p>
        </div>
      </div>
      <!-- fact item -->
      <div class="fact-item padd-15">
        <i class="lni lni-github-original"></i>
        <div class="details">
          <h3>50+</h3>
          <p>Contributions</p>
        </div>
      </div>
    </div>
  </div>
</div>
