<div class="container">
  <div class="intro">
    <img src="images/avatar.jpg" alt="Helios Aiden" />
    <h1>Helios Aiden</h1>
    <span>I'm a <span class="info-text">Front-End developer</span></span>
    <ul class="social-icons">
      <li>
        <a href="#"><i class="lni lni-instagram-original"></i></a>
      </li>
      <li>
        <a href="#"><i class="lni lni-twitter-original"></i></a>
      </li>
      <li>
        <a href="#"><i class="lni lni-behance-original"></i></a>
      </li>
      <li>
        <a href="#"><i class="lni lni-dribbble"></i></a>
      </li>
      <li>
        <a href="#"><i class="lni lni-pinterest"></i></a>
      </li>
    </ul>
    <div>
      <a href="" class="btn btn-default">Hire me</a>
    </div>
    <!-- Scroll down mouse wheel-->
    <div class="scroll-down">
      <a href="#" class="mouse-wrapper">
        <span>Scroll Down</span>
        <span class="mouse">
          <span class="wheel"></span>
        </span>
      </a>
    </div>
  </div>
</div>
